@font-face {
	font-family: 'adineue';
	src: url(assets/adineuePRO/adineue\PRO.ttf);
	src: url(assets/adineuePROKZLight/adineue\PRO\KZ\Light.ttf);
}

html {
	scroll-behavior: smooth;
}

:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}

body {
	background-color: grey;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

}

nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: white;
}

nav>a {
	margin: auto 2em;
	color: #111;
}

nav div {
	margin: auto 2em auto auto;
}

nav div a {
	margin-left: .8em;
	color: #111;
}

nav img {
	height: 50px;
	margin: auto;
	z-index: 1001;
}

.topnav {
	background-color: #ffffff;
	width: 100%;
	position: absolute;
	z-index: 1000;
	transform: translateX(-100%);
	transition: .5s ease-in;
}
.topnav.show {
	transform: none;
	transition: .5s ease-out;
}

.topnav #menuItems {
	margin: 0;
}


.topnav a {
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	display: flex;
}

.topnav>div>div {
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	width: 100%;

}

.topnav>div>div>div {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.topnav>div>div>div>i {
	margin-top: 1em;
}

.topnav > a {
	position: absolute;
	right: 1em;
	top: .3em;
}

.topnav .menuSubsectie {
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'adineue';
	font-size: 14px;
	letter-spacing: 2px;
}

.divOnder img {
	width: 18px;
	margin: 0 0 0 3em;
}

.topnav .divOnder {
	display: flex;
	align-items: center;
	justify-content: left;
	align-self: baseline;
	font-size: 10px;
	border-top: none;
}


section {
	background-color: white;
}

.sectie_1 {
	display: flex;
	justify-content: end;
	flex-direction: column;
}

.sectie_1 h2 {
	position: absolute;
	color: white;
	font-size: 30px;
	font-family: 'adineue';
	text-transform: uppercase;
	margin: 0 0 6.5em .5em;
}

.sectie_1>div {
	position: absolute;
	color: white;
	margin: 0 0 1em .8em;
	font-size: 1.2em;
	font-family: 'adineue';
	font-weight: bold;
}

.sectie_1 div a {
	display: flex;
	margin-top: 1.5em;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}

.sectie_1 img {

	width: 100%;
}

.sectie_2 img {

	width: 100%;
}

.sectie_2 {
	display: flex;
	align-items: end;
}

.sectie_2 h2 {
	width: 5em;
	position: absolute;
	margin: 0 0 5em .25em;
	color: white;
	font-size: 2em;
	font-family: 'adineue';
	text-transform: lowercase;
	word-break: normal;
	letter-spacing: 1px;
}

.sectie_2>div {
	position: absolute;
	margin: 0 0 1em .8em;
	color: white;
	font-size: .95em;
	font-family: 'adineue';
	font-weight: bold;
	letter-spacing: 2px;
}

.sectie_2 div a {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.5em 0;
	color: black;
	background-color: white;
	height: 50px;
	padding: 0 15px;
	width: 163px;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	font-family: "";
	letter-spacing: 4px;
}

.outline {
	display: inline-block;
	position: relative;
}

.outline:before {
	content: "";
	position: absolute;
	left: 3px;
	right: -3px;
	top: 3px;
	bottom: -3px;
	border: 1px white solid;
}


h2 {

	width: 6em;
	margin: 0 0 0 .25em;
	padding-top: .5em;
	color: black;
	font-size: 2em;
	font-family: '';
	word-break: normal;
}

.wrapper {
	display: flex;
	max-width: 100%;
	background-color: white;
}

.wrapper .carousel {
	cursor: pointer;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-behavior: smooth;
	scroll-snap-align:center;
}


.carousel img {
	margin-left: 14px;
	
}


@media screen and (max-width: 900px) {
	.carousel img {
		width: calc(100% / 2);
	}
}

.sectie_4 {
	display: flex;
	flex-direction: column;
	padding: 1em 1em 4em 1em;
}

.sectie_4 h2 {
	font-size: 1.5em;
	margin: .5em 0 .5em 0;
	width: 100%;
}

.sectie_4 div {
	display: flex;
	flex-direction: column;
}

.sectie_4 div a {
	width: 100%;
	padding-top: .5em;
	color: black;
	font-size: 2em;
	font-family: '';
	font-weight: bold;
	text-decoration: none;
	text-transform: lowercase;
	border-bottom: 1px solid black;
}

.sectie_5 {
	background-color: #f5f5e5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3em;
}

.sectie_5 div {
	width: 90%;
}

.sectie_5 h2 {
	width: 80%;
	padding: 1em 0 0 0;
	margin: 0 0 0 0;

}

.sectie_5 div div {
	font-size: 1em;
	padding: 1em 0 0 0;
	width: 100%;
}

.terug_naar_boven div {
	display: flex;
	justify-content: center;
	background-color: white;
	padding: 1em;
}

.terug_naar_boven a {
	color: #111;
	text-decoration: none;
	font-family: 'adineue';
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .9em;
	padding-left: 1em;
}


.sectie_6 {
	display: flex;
	justify-content: space-around;
	background-color: black;
}

.sectie_6 a {
	font-family: 'adineue';
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	text-decoration: none;
	padding: 1em;
}

.sectie_7 div {
	background-color: #EDE734;
	padding-bottom: 1.5em;
}

.sectie_7 h3 {
	margin: 0;
	padding: .5em 0 .5em 1em;
	font-size: 1.9em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1px;
}

.sectie_7 a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5em;
	width: 14em;
	padding: 0 1em;
	margin: 0 0 0 2em;
	color: white;
	background-color: black;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	font-family: "adineue";
	letter-spacing: 4px;
	border: none;
}

.sectie_8 div {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: .5em 0;
	border-bottom: grey solid 1px;
}

.sectie_8 a {
	text-decoration: none;
	font-size: .8em;
	color: white;
	margin: auto;
	padding: .6em;
}

.sectie_9 div {
	background-color: #363738;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 1em 0;
}

.sectie_9 a {
	text-decoration: none;
	font-size: .8em;
	color: #c8cbcc;
	margin: auto;
	padding: .6em;
}